---
import X from '../assets/X.svg'
import Instagram from '../assets/Instagram.svg'
import Github from '../assets/Github.svg'
import Infojobs from '../assets/Infojobs.svg'
---

<footer class="relative min-h-[400px] w-full pb-32 2xl:mt-24 2xl:pb-96">
  <div class="absolute inset-0 bg-cover bg-bottom mask-t-from-50% bg-[url(/images/footer.webp)]"></div>

  <div class="relative h-full flex flex-col justify-center items-center text-[#2a1f26]">
    
    <div class="flex flex-row gap-x-2 mb-8 mt-4 items-center justify-center">
      
      <a 
        href="https://x.com/infolavelada" 
        class="hover:scale-125 transition size-14 flex items-center justify-center" 
        target="_blank">
        <X class="size-[38px]"/>
      </a>

      <a 
        href="https://www.instagram.com/infoLaVelada"
        class="hover:scale-125 transition size-14 flex items-center justify-center" 
        target="_blank">
        <Instagram class="size-[38px]"/>
      </a>

      <a 
        href="https://github.com/midudev/la-velada-web-oficial"
        class="hover:scale-125 transition size-14 flex items-center justify-center" 
        target="_blank">
        <Github class="size-[38px]"/>
      </a>

    </div>
    
    <div class="flex flex-col mb-8 mt-3 items-center justify-center">
      <span>Web patrocinado por</span>
      <span><Infojobs /></span>
    </div>
    
    <div class="pb-48 opacity-90">
      <p>@ 2025 La Velada del Año V. Todos los derechos reservados</p>
    </div>
  </div>

</footer>